html {
  overflow-y: auto !important;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-y: auto;
  min-width: 400px;
}

b {
  font-weight: bold !important;
}

.three-icons-actions {
  min-width: 104px;
}

.two-icons-actions {
  min-width: 80px;
}
